<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Noncommital Compliments</title>
</head>
<body style="background-color: <%= color %>">
	<h1>Noncommital Compliments for OK people</h1>
	<h2>
		<%= name %>
		<%= compliment %>
	</h2>

	<h6>Submit a compliment:</h6>
	<form action="/" method="post">
		<input type="text" name="compliment">
		<button>Thanks, I Guess...</button>
	</form>
	
</body>
</html>