<h1>Listings</h1>

<a href="/articles/new"><h3>Create a new article</h3></a>

<% @articles.each do |article| %>

	<p><%=  link_to article.title, article %></p>

<% end %>

<!--<%= link_to 'new article', new_article_path %>

<!-- both of the above are the same -->