<h2>Input an excuse below</h2>
<form action="/excuses" method="post">
	<label for="">catagory:</label>
	<input type="text" name="catagory">
	<br>
	<label for="">excuse:</label>
	<input type="text" name="excuse">
	<button>submit</button>
</form>