<head>
<h1>LTMCOMDB</h1>
<h3>(local to my computer only movie database)</h3>
</head>

<form action="/search_results">
	<label for="">enter a movie title: </label>
	<input name="movie_search" type="text">
	<button>Search</button>
</form>