<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono|VT323" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<header>
	<h1> <a href="http://localhost:4567"> LTMCOMDB </a></h1>
	<h3>(local to my computer only movie database)</h3>
</header>
<body>

  <%= yield %>

</body>
</html>