
<h2><%= @movie %></h2>

<article>
	<% @movie_details.each do |catagory, value| %>
		<% case catagory.capitalize when 'Poster'	%>
				<img src="<%= value %><" alt="">
			<% when 'Title','Year','Plot','Director','imdbRating','Actors' %>
			<p><b><%= catagory.capitalize %>:</b> <%= value %></p>
			<% end %>
		<% end %>
</article>