<head>
<h1><%= @movie %></h1>
</head>
<article>
	<% @movie_details.each do |catagory, value| %>
	<% if catagory == 'Title' || catagory == 'Year' || catagory == 'Plot' || catagory == 'Director' || catagory == 'imdbRating' || catagory == 'Actors' %>
			<p><b><%= catagory %>:</b> <%= value %></p>

		<% end %>
	<% end %>
</article>