<h1>GAME OF RAILS</h1>

<a href="/games/eightball"><h2>Magic 8 Ball</h2></a>
<p>Give the magic 8 ball a question, get a response:</p>
<form action="/games/magic_8_ball">
	<input type="text"> <button><-ask a question!</button>
</form>


<h2>Secret Number</h2>
<p>The computer is thinking of a number between 1 and 10, enter your guess:</p>
<form action="/games/secret_number">
	<input type="text"> <button><-make a guess!</button>
</form>

<h2>Rock, Paper... Scissors</h2>
<form action="/games/rock_scissors_paper">
	<input type="radio" name="guess" value="rock"> Rock <br>
	<input type="radio" name="guess" value="scissors"> Scissors <br>
	<input type="radio" name="guess" value="paper"> Paper <br>
</form>


<br>
<img src="https://media.giphy.com/media/szd77i9xQezew/source.gif" alt="">
